In [1]:
import sqlite3

# Connecting to the database
connection = sqlite3.connect('./genericDatabase.db')
cursor = connection.cursor()

# Create Table if it doesn't exist
cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER NOT NULL
    )
''')
connection.commit()



# Create
def create_student(name, age):
    cursor.execute('''
        INSERT INTO students (name, age)
        VALUES (?, ?)
    ''', (name, age))
    connection.commit()
    print("Record added successfully!")

create_student("Sanika", 18)
create_student("Kashish", 19)

# Read (Retrieve)
def read_students():
    cursor.execute('SELECT * FROM students')
    rows = cursor.fetchall()
    print("Student Records:")
    for row in rows:
        print(row)

read_students()

# Update (Modify)
def update_student_age(student_id, new_age):
    cursor.execute('''
        UPDATE students
        SET age = ?
        WHERE id = ?
    ''', (student_id,new_age))
    connection.commit()
    print("Student age updated successfully!")

update_student_age(1, 21)  # Updating Griffith's age to 21
read_students()

# Delete (Remove)
def delete_student(student_id):
    cursor.execute('''
        DELETE FROM students
        WHERE id = ?
    ''', (student_id,))
    connection.commit()
    print("Student deleted successfully!")

delete_student(2)  # Deleting Guts' record
read_students()

# Closing the database connection
connection.close()

Record added successfully!
Record added successfully!
Student Records:
(1, 'Sanika', 18)
(2, 'Kashish', 19)
Student age updated successfully!
Student Records:
(1, 'Sanika', 18)
(2, 'Kashish', 19)
Student deleted successfully!
Student Records:
(1, 'Sanika', 18)